---
layout: default
---

<div class="home">
    <div>
        <p>There are many ways to learn testing. The 4-hour tester is a way that focuses on simple exercises that take at most one hour to complete. The format is quite simple: briefing, exercise, evaluation.<br>Why don't you try one right now?</p>
        <p>If you would like to help this site grow by contributing solutions or new exercises, please head over to the <a href="{{ site.url }}/about">About page</a> to find out how. It's easy, we promise!</p>
    </div>

<div style="display:flex;flex-wrap:wrap;justify-content:space-between;align-items:baseline">
    <div class="page-content" style="flex-basis: 50%">

        <h1 class="page-heading">Exercises</h1>

        <ul class="post-list">
            {% for exercise in site.exercises %}
            <li>
                <a class="post-link" href="{{ exercise.url }}">{{ exercise.title | escape }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="page-content" style="flex-basis: 50%">

		<h1 class="page-heading">Solutions</h1>

		<ul class="post-list">
		    {% for solution in site.solutions reversed %}
		    <li style="display:flex;flex-wrap:wrap;justify-content:flex-start;align-items:baseline">
		        <a class="post-link" href="{{ solution.url }}">{{ solution.title | escape }}</a>
		        <span class="contributor" style="margin-left: 0.5em; margin-top: 0em">by {{ solution.contributor }}</span>
		    </li>
		    {% endfor %}
		</ul>
    </div>
</div>
    <div class="page-content">

		<h1 class="page-heading">Blog posts about the four-hour tester</h1>

		<ul class="post-list">
		    {% assign sorted_blogposts = site.data.blogposts | sort: 'date' | reverse %}
		    {% for post in sorted_blogposts %}
		    <li style="display:flex;flex-wrap:wrap;justify-content:flex-start;align-items:baseline">
		        <a class="post-link" href="{{ post.url }}">{{ post.title | escape }}</a>
		        <span class="contributor" style="margin-left: 0.5em; margin-top: 0em">by {{ post.author }}</span>
		    </li>
		    {% endfor %}
		</ul>
    </div>
</div>

