<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-3">
                <p>Can you learn the skills of a tester in four hours?</p>
            </div>
            <div class="footer-col footer-col-2">
            </div>
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>
                      <a href="mailto:fourhourtester@gmail.com">fourhourtester@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
